@model DefaultModel

<h2 class="text-center">Inspection result</h2>

<div class="alert  @(Model.IsValid ? "alert-success" : "alert-danger")" role="alert">@Model.ResultMessage</div>

@{ if (Model.IsValid)
    {
        @await Html.PartialAsync("BsonDocument.cshtml", new BsonDocumentViewModel(Model.BsonDocument))
    }
}