@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <form id="file-input-form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" asp-for="BsonFile" id="bsonFileInput" required />
                <label class="custom-file-label text-truncate" for="bsonFileInput">Choose bson file</label>
            </div>
        </div>
        <Button type="submit" id="inspect-button" class="btn btn-primary">Inspect</Button>

    </form>

    <div id="inspected-document-container" class="mt-4"></div>
</div>

@section scripts {
<script>
    $('#bsonFileInput').on('change', function () {
        //get the file name
        var fileName = document.getElementById("bsonFileInput").files[0].name;
        //replace the "Choose a file" label
        $('.custom-file-label').html(fileName);
    });

    $("#file-input-form").submit(function (event) {
        ShowSpinner();
        event.preventDefault();
        $.ajax({
            url: '/index',
            data: new FormData($('#file-input-form')[0]),
            contentType: false,
            processData: false,
            type: 'post',
            success: function (data) {
                $('#inspected-document-container').html(data);
            }
        });
    });

    function ShowSpinner() {
        $('#inspected-document-container').html(`<div class="text-center">
<div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
<div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
<div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
<div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
<div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
</div>`);
    }

</script>
}
